@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Libre Baskerville', serif;
}

.container {
    margin: 0 3rem;
    height: 100vh;
}

/* header */
/* navbar */
.header {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

.header .nav-bar {
    display: flex;
    gap: 2rem;
}

.header .nav-bar .nav-list{
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    list-style: none;
}

.navbar-btn .login-btn {
    text-decoration: none;
    color: black;
    padding: .4rem 2rem;
    margin: 0 0 0 2rem;
    border: solid 1px black
}

.navbar-link {
    text-decoration: none;
    color: #333;
    transition: 0.3s;
}

.navbar-link:hover {
    text-decoration: underline;
}

.d-flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.login {
    width: 25%;
    margin: 9rem auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

.login .login-header {
    gap: 1rem;
}

.login .login-header h1 {
    font-size: 33px;
}

.login .login-header h2 {
    font-size: 12px;
    font-weight: normal;
}

.login form {
    gap: 1rem;
}

.form-control {
    width: 100%;
    padding: .5rem .8rem;
}

.form-group {
    font-size: 12px;
    color: #1c1c1c;
}

.login-options {
    justify-content: space-between;
}

.login-options a {
    text-decoration: none;
    color: #1C1C1C;
}

.btn {
    width: 100%;
    padding: .3rem;
    background-color: white;
    border : solid 1px black;
    transition: 0.3s;
}

.btn:hover {
    color: white;
    background-color: #333;
}

.avatar-md {
    border-radius: 50%;
}

.featured-article {
    margin: 3rem 0 0 0;
    height: 500px;
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(255, 255, 255, 0.048), rgba(255,255,255,0.048)), url(../img/featured-article.jpg);
}

.featured-article .card {
    width: 24rem;
    height: 25rem;
    background-color: #fff;
    position: absolute;
    left: 6rem;
}

.featured-article .card .card-category {
    font-size: 12px;
    color: #1C1C1C;
}

.featured-article .card .card-title h1 {
    font-size: 16px;
}

.featured-article .card .card-information h2{
    font-size: 12px;
    color: #1c1c1c69;
}

.featured-article .card .card-content {
    font-size: 14px;
}

.featured-article .card {
    text-align: justify;
    padding: 2rem;
    gap: .5rem;
}

.editor-picks {
    gap: 3rem;
}
.section-title {
    margin: 3rem auto;
    text-align: center;
}

.article {
    gap : 2rem;
    width: 80%;
    margin: auto;
}

.article-content {
    gap: .5rem;
}

.article-content .article-category {
    font-size: 10px;
    color: #1C1C1C69;
}

.article-content .article-text {
    text-align: justify;
    font-size: .8rem;
}

.ranked-article {
    margin: 3rem 0 0 0;
    height: 27rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../img/ranked.jpg);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 7rem;
}

.ranked-article .card {
    background-color: white;
    width: 25rem;
    height: 23rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.ranked-article .card .card-category {
    font-size: 12px;
    color: #1C1C1C69;
}

.ranked-article .card .card-title h2 {
    font-size: 1.3rem;
}

.ranked-article .card .card-information {
    font-size: 12px;
    color: #1C1C1C69;
}

.ranked-article .card .card-content {
    font-size: .8rem;
}

.recent-posts {
    margin: 4rem auto;
    width: 90%;
    display: flex;
    gap: 2rem;
}

.recent-posts .posts {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.recent-posts .posts .post {
    display: flex;
    gap: 2rem;
}

.recent-posts .posts .post-container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.recent-posts .posts .post .post-category {
    font-size: 12px;
    color: #1C1C1C69;
}

.recent-posts .posts .post .post-title {
    font-size: 1.3rem;
}

.recent-posts .posts .post .post-information {
    font-size: 12px;
    color: #1C1C1C69
}

.recent-posts .posts .post .post-content {
    font-size: 1rem;
    text-align: justify;
}

.recent-posts .tags {
    width: 20%;
}

.recent-posts .tags ul {
    list-style: none;
}

.recent-posts .tags ul li {
    margin: 1.5rem 0 0 0;
}